/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


:root {
  --brand-color: #CACE2D;
  --pop-color: #DC4B26;
  --main-background-color: #EDE9E0;
  --text-color: #11130B;
  --main-font: "ff-real-text-pro", sans-serif;
  --heading-font: "ff-real-headline-pro", sans-serif;
}

html { 
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    border-top:24px solid var(--brand-color);
    color: var(--text-color);
    font-size: 18px;
    padding-top: 24px;
}

h1 {
    font-family: var(--heading-font);
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.3em;
}

h1 strong {
    background-color: var(--brand-color);
}

a,
a:link {
    color: var(--pop-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: italic;
}

a:visited {
    color: var(--pop-color);
}
a:hover {
    color: var(--text-color);
}

.contact-links {
    list-style: none outside none;
    padding: 0;
}

.contact-links li {
    display: inline-flex;
    margin-right: 1.5rem;
}

.wrapper {
    max-width: clamp(120px, 100%, 1280px);
    padding-inline: clamp(16px, 4vw, 48px);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: block;
    min-width: 120px;
    width: 210px;
    margin-left: -1em;
}

.hero-text {
  font-size: 4.5vw;
  margin-top: 0;
}

.hero-desc {
  max-width: 700px;
}

.full-width {
  width: 100%;
  padding: 1em;
}